*{
	box-sizing: border-box;
}
.container{
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.slideshow-container{
	max-width: 800px;
	position: relative;
	margin: 0 auto;
}

img{
	width: 100%;
	height: 300px;
	border-radius: 4px;
}
ul{
	list-style-type: none;
}
.indicators{
	text-align: center;
}
.controls__prev, .controls__next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #fff;
	font-weight: 800;
	font-size: 18px;
	transition: 0.6s easy;
	border-radius: 0 3px 3px 0;
}
.controls__next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.controls__prev{
	left: 0;
}
.controls__prev:hover, .controls__next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}
.text{
	color: #f2f2f2;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	top: 0;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover{
	background-color: #717171;
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration:1.5s;
	animation-name: fade;
	animation-duration: 1.5s;

}
@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}
/*

.slides{
	position: relative;
	width: 100%;
	height: 500px;
	padding-left: 0;
}
.slides__item{
	position: absolute;
	width: 100%;
	height: 500px;
}
.controls{
	position: relative;
	display: flex;
	padding-bottom: 20px;
}
.controls__item{
	width: 100px;
	height: 50px;
	border: 1px solid #000;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}
.indicators{
	display: flex;
	justify-content: space-between;
}
.indicators__item{
	border: 1px solid #000;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
